body {
  margin: 0;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 500px;
  height: 450px;
  display: flex;
  flex-direction: column;
}
.searchBar {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
}
input {
  height: 50px;
  margin-bottom: 1em;
  font-size: 1.5em;
}
.gifBar {
  min-height: 100px;
  width: 100%;
  background: #eee;
}